spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/music?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true
    username: ???
    password: ???
    hikari:
      max-lifetime: 60000
      minimum-idle: 5
      maximum-pool-size: 10
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  profiles:
    active: prod

mybatis:
  #开启驼峰命名
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    call-setters-on-nulls: true
  mapper-locations: classpath:/mapper/*.xml
minio:
  url: ???
  access: ???
  secret: ???
  bucket: music
  musicPrefix: musicFile/
  imgPrefix: imgFile/